# Node.js dependencies
/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Build directories
/dist
/build

# Redis socket and other cache files
pids
*.pid
*.seed

# IDE configuration files
.vscode/
.idea/

# Coverage directory for testing
/coverage

# Optional: Ignore the database files
*.sqlite
